# Diretório onde estão os PDFs
PDF_DIR=/Users/annabittencourt/projetos/IC_METAVERSO/backend/app/Data

# Diretório para persistir o banco de dados vetorial
CHROMA_PERSIST_DIR=/Users/annabittencourt/projetos/IC_METAVERSO/backend/app/chroma_db

# Token do Hugging Face (necessário para baixar modelos)
HUGGINGFACE_TOKEN=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
