PyMuPDF
torch
numpy
sentence-transformers
langchain
langchain-text-splitters
langchain-core
langchain-huggingface
langchain-chroma
chromadb
transformers
accelerate
bitsandbytes
fastapi
uvicorn[standard]
python-multipart
python-dotenv
